@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

/* ========= Global font size starts =========== */
:root {
  /* ==== global font size variables ====  */
  --fs-xxs: 12px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-base: 18px;
  --fs-md: 20px;
  --fs-lg: 22px;
  --fs-xl: 27px;
  --fs-2xl: 32px;
  --fs-3xl: 34px;
  --fs-4xl: 40px;
  --fs-5xl: 60px;
  --fs-6xl: 72px;
  /* ======= line height ======== */
  --lh-normal: normal;
  --lh-md: 25px;
  --lh-lg: 40px;
  /* ==== letter speaching ======== */
  --ls-xxs: -2.16px;
  --ls-xs: -1.8px;
  --ls-sm: -1.02px;
  --ls-md: -1.2px;
  --ls-lg: -0.96px;
  --ls-xl: 0.24px;
  --ls-2xl: 0.4px;
}

/* ============
              Responsiveness starts 
                                    ============= */

@media only screen and (max-width: 767px) {
  :root {
    /* ==== global font size variables ====  */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 24px;
    --fs-4xl: 28px;
    --fs-5xl: 32px;
    --fs-6xl: 40px;

    /* ======= line height ======== */

    --lh-md: 20px;
    --lh-lg: 32px;

    /* ==== letter speaching ======== */
    --ls-xxs: -1.4px;
    --ls-xs: -0.96px;
    --ls-sm: 0.4px;
    --ls-md: 0.6px;
    --ls-lg: 0.92px;
    --ls-xl: 0.94px;
    --ls-2xl: 0.95px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 894px) {
  :root {
    --fs-xs: 12.04px;
    --fs-sm: 14.04px;
    --fs-base: 16.04px;
    --fs-md: 16.01px;
    --fs-lg: 18.01px;
    --fs-xl: 20px;
    --fs-2xl: 24.02px;
    --fs-3xl: 24.06px;
    --fs-4xl: 28.03px;
    --fs-5xl: 32px;
    --fs-6xl: 40.01px;

    --lh-md: 20.03px;
    --lh-lg: 32.02px;

    --ls-xxs: -1.404px;
    --ls-xs: -0.96px;
    --ls-sm: 0.394px;
    --ls-md: 0.34px;
    --ls-lg: 0.86px;
    --ls-xl: 0.8px;
    --ls-2xl: 0.82px;
  }
}
@media only screen and (min-width: 895px) and (max-width: 1023px) {
  :root {
    --fs-xs: 12.32px;
    --fs-sm: 14.32px;
    --fs-base: 16.32px;
    --fs-md: 16.58px;
    --fs-lg: 18.58px;
    --fs-xl: 21px;
    --fs-2xl: 25.16px;
    --fs-3xl: 25.48px;
    --fs-4xl: 29.74px;
    --fs-5xl: 36px;
    --fs-6xl: 44.58px;

    --lh-md: 20.74px;
    --lh-lg: 33.16px;

    --ls-xxs: -1.512px;
    --ls-xs: -1.08px;
    --ls-sm: 0.192px;
    --ls-md: 0.12px;
    --ls-lg: 0.6px;
    --ls-xl: 0.72px;
    --ls-2xl: 0.76px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1150px) {
  :root {
    --fs-xs: 12.6px;
    --fs-sm: 14.6px;
    --fs-base: 16.6px;
    --fs-md: 17.15px;
    --fs-lg: 19.15px;
    --fs-xl: 22px;
    --fs-2xl: 26.3px;
    --fs-3xl: 26.9px;
    --fs-4xl: 31.45px;
    --fs-5xl: 40px;
    --fs-6xl: 49.15px;

    --lh-md: 21.45px;
    --lh-lg: 34.3px;

    --ls-xxs: -1.62px;
    --ls-xs: -1.2px;
    --ls-sm: -0.01px;
    --ls-md: -0.1px;
    --ls-lg: 0.34px;
    --ls-xl: 0.64px;
    --ls-2xl: 0.7px;
  }
}
@media only screen and (min-width: 1151px) and (max-width: 1277px) {
  :root {
    --fs-xs: 12.88px;
    --fs-sm: 14.88px;
    --fs-base: 16.88px;
    --fs-md: 17.72px;
    --fs-lg: 19.72px;
    --fs-xl: 23px;
    --fs-2xl: 27.44px;
    --fs-3xl: 28.32px;
    --fs-4xl: 33.16px;
    --fs-5xl: 44px;
    --fs-6xl: 53.72px;

    --lh-md: 22.16px;
    --lh-lg: 35.44px;

    --ls-xxs: -1.728px;
    --ls-xs: -1.32px;
    --ls-sm: -0.212px;
    --ls-md: -0.32px;
    --ls-lg: 0.08px;
    --ls-xl: 0.56px;
    --ls-2xl: 0.64px;
  }
}
@media only screen and (min-width: 1278px) and (max-width: 1439px) {
  :root {
    --fs-xs: 13.16px;
    --fs-sm: 15.16px;
    --fs-base: 17.16px;
    --fs-md: 18.29px;
    --fs-lg: 20.29px;
    --fs-xl: 24px;
    --fs-2xl: 28.58px;
    --fs-3xl: 29.74px;
    --fs-4xl: 34.87px;
    --fs-5xl: 48px;
    --fs-6xl: 58.29px;

    --lh-md: 22.87px;
    --lh-lg: 36.58px;

    --ls-xxs: -1.836px;
    --ls-xs: -1.44px;
    --ls-sm: -0.414px;
    --ls-md: -0.54px;
    --ls-lg: -0.18px;
    --ls-xl: 0.48px;
    --ls-2xl: 0.58px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1566px) {
  :root {
    --fs-xs: 13.44px;
    --fs-sm: 15.44px;
    --fs-base: 17.44px;
    --fs-md: 18.86px;
    --fs-lg: 20.86px;
    --fs-xl: 25px;
    --fs-2xl: 29.72px;
    --fs-3xl: 31.16px;
    --fs-4xl: 36.58px;
    --fs-5xl: 52px;
    --fs-6xl: 62.86px;

    --lh-md: 23.58px;
    --lh-lg: 37.72px;

    --ls-xxs: -1.944px;
    --ls-xs: -1.56px;
    --ls-sm: -0.616px;
    --ls-md: -0.76px;
    --ls-lg: -0.44px;
    --ls-xl: 0.4px;
    --ls-2xl: 0.52px;
  }
}

@media only screen and (min-width: 1567px) and (max-width: 1693px) {
  :root {
    --fs-xs: 13.72px;
    --fs-sm: 15.72px;
    --fs-base: 17.72px;
    --fs-md: 19.43px;
    --fs-lg: 21.43px;
    --fs-xl: 26px;
    --fs-2xl: 30.86px;
    --fs-3xl: 32.58px;
    --fs-4xl: 38.29px;
    --fs-5xl: 56px;
    --fs-6xl: 67.43px;

    --lh-md: 24.29px;
    --lh-lg: 38.86px;

    --ls-xxs: -2.052px;
    --ls-xs: -1.68px;
    --ls-sm: -0.818px;
    --ls-md: -0.98px;
    --ls-lg: -0.7px;
    --ls-xl: 0.32px;
    --ls-2xl: 0.46px;
  }
}

/* ========= 
          global font size 
                            ==========  */
.fs-xxs {
  font-size: var(--fs-xxs);
  letter-spacing: var(--ls-xl);
  line-height: var(--lh-normal);
}

.fs-xs {
  font-size: var(--fs-xs);
  line-height: var(--lh-normal);
}

.fs-sm {
  font-size: var(--fs-sm);
  line-height: var(--lh-normal);
}

.fs-base {
  font-size: var(--fs-base);
  line-height: var(--lh-md);
}

.fs-md {
  font-size: var(--fs-md);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-2xl);
}

.fs-lg-lh-lg {
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
}

.fs-lg-lh-md {
  font-size: var(--fs-lg);
  line-height: var(--lh-md);
}

.fs-lg-lh-normal {
  font-size: var(--fs-lg);
  line-height: var(--lh-normal);
}

.fs-xl-lh-normal {
  font-size: var(--fs-xl);
  line-height: var(--lh-normal);
}

.fs-xl-lh-lg {
  font-size: var(--fs-xl);
  line-height: var(--lh-lg);
}

.fs-2xl {
  font-size: var(--fs-2xl);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-lg);
}

.fs-3xl {
  font-size: var(--fs-3xl);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-sm);
}

.fs-4xl {
  font-size: var(--fs-4xl);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-md);
}

.fs-5xl {
  font-size: var(--fs-5xl);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-xs);
}

.fs-6xl {
  font-size: var(--fs-6xl);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-xxs);
}

/* ======= utilitiy classes  ========= */
.btn-large {
  @apply py-2.5 md:py-3 px-5 md:px-8 lg:py-[16px] lg:px-[40px] rounded-[100px] border border-transparent font-normal;
}

.btn-medium {
  @apply border border-transparent py-2.5 md:py-3 px-5 lg:py-[16px] rounded-[100px] font-normal;
}

.btn-bg-blue {
  @apply bg-[#005AFF] text-white !border-[#005AFF];
}

.btn-border-blue {
  @apply border !border-[#005AFF] text-[#005AFF];
}

.btn-gradient-light-blue {
  @apply p-2.5 rounded-full bg-gradient-to-r to-[#FAFCFF] from-[#E1E5FF];
}

.skill-btn-large {
  @apply !tracking-normal py-1.5 md:py-3.5 lg:py-4 px-5 md:px-[35px] lg:px-10  rounded-[15px] md:rounded-[50px] lg:rounded-[100px] bg-[#dde3e766] text-[#525966cc];
}
.skill-btn-medium {
  @apply !tracking-normal py-1.5 md:py-2  px-4  rounded-[20px] bg-[#dde3e766] text-[#525966cc];
}

.dashed-border {
  border: 1px dashed #525966;
}

/* GLOBAL CLASSNAMES STARTS */
.primary-btn {
  @apply bg-[#005AFF] text-white  hover:bg-[#005AFF] cursor-pointer;
}
.btn {
  @apply fs-md py-[10px] md:py-[16] px-[30px] md:px-[40px] rounded-[100px] border-none outline-none;
}
.disable-btn {
  @apply bg-[#dde3e766] cursor-not-allowed text-[#525966cc] pointer-events-none;
}
/* GLOBAL CLASSNAMES ENDS */
.test {
  background: #0059ff33;
  background: #0059ff05;
}

/* onboarding page style starts */
.gradient-border {
  background: linear-gradient(to right, #01d18f, #005aff);
}
/* onboarding page style ends */

/* Login form style starts  */
.login-form-label {
  @apply block fs-md mb-2.5 text-[#30353E];
}
.login-form-input {
  @apply outline-none focus:outline-none rounded-[6px] font-normal bg-transparent fs-base py-[11.5px] px-[14px] w-full;
}
.login-form-input::placeholder {
  @apply text-[#A8B7C1];
}

.country-option {
  @apply mb-0.5 fs-base w-full block px-[14px] duration-300 hover:text-white hover:bg-[#005aff];
}
/* Login form style ends  */

/* Main header style starts */
.dropdown-label {
  @apply flex items-center gap-[10px] text-[18px] font-normal leading-normal tracking-[0.36px] cursor-pointer;
}

.drop-down-links {
  @apply relative;
}
.drop-down-content {
  @apply absolute left-0 top-[100%] min-w-[200px] bg-white z-50 py-5 border-t w-full max-w-[200px];
}
.drop-down-content li {
  @apply duration-300 py-1 px-5 hover:bg-[#005aff] w-full hover:text-white cursor-pointer;
}
/* Main header style ends */

/* hamberger menu starts */
.phone-nav {
  @apply w-[25px] flex flex-col gap-1.5;
}

.phone-nav div {
  @apply w-full h-0.5 bg-black rounded-[100px] duration-300;
}

.phone-nav.active .first {
  transform: translate(10px, 4.1px) rotate(-45deg);
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  width: 50%;
}

.phone-nav.active .second {
  transform: translate(0px, 0px) rotate(45deg);
}

.phone-nav.active .third {
  transform: translate(1.7px, -3.7px) rotate(-45deg);
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  width: 50%;
}
/* hamberger menu ends */

/* Job post style starts */
.jobpost-details-label {
  @apply text-[20px] md:text-[22px] leading-[35px] md:leading-10 font-normal;
}

.jobpost-details-des {
  @apply text-[18px] font-light leading-[25px];
}

.job-scope-dropdown {
  @apply border border-[#0000001a] py-[10px] px-4 rounded-[20px];
}

.jobpost-skill-btn {
  @apply rounded-[100px] gap-2 bg-[#005aff08] border border-[#0000001a] flex items-center fs-sm py-[6px] md:py-2 px-3 md:px-4;
}

.job-post-card-select-shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

.my-profile-experience-card {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
}

/* Job post style ends */

/* test code  */
.shadow-select-dropdown {
  background: #00000024;
}
.select-option {
  @apply duration-150 py-[6px] my-[1px] cursor-pointer fs-base w-full px-4;
}

.skillsBtn {
  @apply rounded-[100px] gap-[10px] bg-[#005aff08] border border-transparent flex items-center text-[16px] md:text-[18px] leading-[20px] md:leading-[25px] font-normal py-[6px] md:py-2 px-3 md:px-4;
}
.skillsBtnActive {
  @apply rounded-[100px] gap-[10px] bg-[#005aff08] border border-[#005AFF] flex items-center text-[16px] md:text-[18px] leading-[20px] md:leading-[25px] font-normal py-[6px] md:py-2 px-3 md:px-4;
}

/* 

 <div className=" w-full max-w-[776px] max-h-[95%] min-h-[250px] py-[20px] h-full rounded-[20px] md:rounded-[30px] bg-white shadow-md ">
      <div className="overflow-y-auto relative px-[20px] md:px-[50px] md:pl-[32px] md:py-[30px] max-h-[100%] w-full h-full">*/

/* =======Job Review location card gradient style ======= */
.location-gradient-card {
  @apply bg-white flex-grow rounded-[15.4px] px-5 md:px-[25px] py-3  xl:px-[34px] md:py-[15px] xl:py-[24px];
}

.job-review-gradient-container {
  @apply flex flex-col items-center p-[1px] justify-center cursor-pointer rounded-[16.4px] h-auto;
}

/*  ============= view job post page style starts ============= */
.view-jobpost-link-shadow {
  @apply flex items-center bg-white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  border: 1 px solid red;
}

/* ======= normalize line height =========  */
.leading_normal {
  line-height: normal;
}

/* ========== scrollbar width ============= */
/* General scrollbar styles */
::-webkit-scrollbar-track {
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #dde3e7;
  border-radius: 20px;
}
/* Specific styles for #custom_container */
.custom_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 4px;
  background-color: #dde3e7;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Specific styles for #custom_container */
.country_dropdown_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 8px;
  background-color: #dde3e7;
}

.country_dropdown_scrollbar::-webkit-scrollbar {
  width: 8px;
}

.dropdown_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 8px;
  background-color: #00000033;
}

.dropdown_scrollbar::-webkit-scrollbar {
  width: 8px;
}

.dropdown_shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.dropdown_shadow::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 8px;
  background-color: #00000033;
}

.dropdown_shadow::-webkit-scrollbar {
  width: 8px;
}



.conversation_message_custom_scrollbar::-webkit-scrollbar-track {
  background-color: #fbfcff;
}

.freelancer_profile_scrollbar::-webkit-scrollbar-track {
  background-color: #fbfcff;
}

/* ============ Message page style starts  ===========*/
.message-input-shadow {
  background: #fff;
  box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.08);
}

.freelancer-profile-hover-modal-shadow {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.country-container-shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/* ========= jobs page style ======= */
.jobs-hire-require-card-shadow:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

.jobpost-card-dotted-border {
  border: 1px dashed #525966;
}

/* .get-started-and-connect-talent */

/* GPT vetting style starts */
.gpt-vetting-table-shadow {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}

.gpt-vetting-table-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* test canvas */
#frequency-visualization {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: transparent; /* Set transparent background to see the mic element below */
}

/* ========= apps and offers style starts ============= */
.offer-card-shadow:hover {
  box-shadow: 0px 0px 15px -5px #dddada;
}

.icon-round-shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
}
/*  input type number field style  */
/* Hide the default arrow buttons in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the default arrow buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ======= calendar styles ========== */
#calendar {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.service-card-shadow:hover {
  box-shadow: 0px 0px 15px -5px #dddada;
}

.freelancer-onboarding-card-shadow:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

.test {
  background-color: #005aff1f; /* rgba(0, 90, 255, 0.12);*/
  background-color: #00000024; /* rgba(0, 0, 0, 0.14);*/
  background-color: #0000001a; /* rgba(0, 0, 0, 0.10);*/
  background-color: #0000001f; /* rgba(0, 0, 0, 0.12);*/
  background-color: #005aff05; /* rgba(0, 90, 255, 0.02); */
  background-color: #005aff1a; /* rgba(0, 90, 255, 0.10) */
  background-color: #005aff33; /*rgba(0, 90, 255, 0.20); */
  background-color: #dde3e766; /*rgba(221, 227, 231, 0.40);  */
  background-color: #00000099; /*rgba(0, 0, 0, 0.6)  */
  background-color: #525966cc; /* rgba(82, 89, 102, 0.80)  */

  background-color: #97bcff80; /*  rgba(151, 188, 255, 0.50);  */
  background-color: #005aff08; /*  rgba(0, 90, 255, 0.03  */
  background-color: #0000000f; /*  rgba(0, 0, 0, 0.06)  */
  background-color: #00000033; /*  rgba(0, 0, 0, 0.20) */
  background-color: #005aff0a; /*  rgba(0, 90, 255, 0.04) */
}
